body {
  font-family: sans-serif;
  padding: 20px;
}

#favorites-header > h2, h1 {
  font-family: serif;
  font-weight: lighter;
}

#favorites {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 60px;
  grid-row-gap: 20px;
}

#local-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
}

#local-weather-placeholder {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-info-placeholder {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#local-general-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.general-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.extended-info li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  background-color: #a7afb1;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.info-name {
  color: #f0f9fc;
  font-weight: bold;
}

.info-value {
  color: #eaf1f4;
  font-weight: lighter;
  display: inline-block;
  align-self: end;
}

.temperature {
  color: #7d7d7d;
  font-size: 35px;
}

#local-general-info > .temperature {
  font-size: 100px;
}

h1, h2, h3 {
  color: #708188;
  display: inline;
}

h1, h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
  margin: 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#favorites-add {
  display: flex;
  align-items: center;
}

#favorites-add > input[type=text] {
  padding: 12px;
  margin-right: 12px;
  background-color: #f1f1f1;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  width: 300px;
}

#favorites-add > input[type=text]::placeholder {
  color: #708188;
}

.round-button {
  background-color: #708188;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  color: #f0f9fc;
  border-radius: 100%;
}

.round-button:hover {
  background-color: #8899a0;
}

.round-button:active {
  background-color: #607178;
}

.round-button:disabled {
  background-color: #a8b9c0;
}

.remove-city-button {
  background-image: url("icons/ic_remove.png");
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.add-city-button {
  background-image: url("icons/ic_add.png");
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  position: relative;
  margin-bottom: 20px;
}

#refresh-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #c9d2d7;
  color: #708188;
  border-radius: 4px;
  padding: 10px 50px;
  height: 100%;
  border: none;
  outline: none;
  font-family: serif;
  font-size: 16px;
}

#refresh-button:hover {
  background-color: #ced7dc;
}

#refresh-button:active {
  background-color: #b9c2c7;
}

.weather-icon {
  width: 150px;
  height: 150px;
}

.weather-icon-mini {
  width: 50px;
  height: 50px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #708188;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.loader-small {
  display: none;
  width: 30px;
  height: 30px;
}

#local-weather-placeholder > h3 {
  font-family: serif;
  font-weight: lighter;
  font-size: 40px;
}

.weather-info-placeholder > h3 {
  font-family: serif;
  font-weight: lighter;
  font-size: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1080px) {
  #favorites {
    grid-template-columns: 1fr;
  }

  #local-weather {
    grid-template-columns: 1fr;
  }

  #refresh-button {
    left: auto;
    right: 0;
    transform: none;
    background-image: url("icons/button_refresh.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  #favorites-header {
    flex-direction: column;
    align-items: flex-start;
  }

  #favorites-add {
    width: 100%;
    margin-bottom: 10px;
  }

  #favorites-add > input[type=text] {
    flex-grow: 1;
  }
}